.idea/
.idea\*.xml
.settings/
.svn/
/target/
/bin/
.classpath
.project
.scannerwork/
out/
src/main/java/main/java/MavenTask2/Equation.java
src/main/java/MavenTask2/Equation.java
src/main/java/MavenTask2/Equation.java
*.java
